deploy/modules/step-function/state-machine-definitions/cloud-benchmarks.json
{
    "Comment": "Run Automated Benchmarks",
    "StartAt": "Evaluate_StartPoint",
    "States": {
      "Evaluate_StartPoint": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.event.skipCreateRunDir",
            "IsPresent": false,
            "Next": "Set_skipCreateRunDir"
          }
        ],
        "Default": "Evaluate_RunType"
      },
      "Set_skipCreateRunDir": {
        "Type": "Pass",
        "Result": "false",
        "ResultPath": "$.event.skipCreateRunDir",
        "Next": "Evaluate_RunType"
      },
      "Evaluate_RunType": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.event.runType",
            "StringEquals": "DEMAND",
            "Next": "Set_OnDemand"
          },
          {
            "Variable": "$.event.runType",
            "StringEquals": "SPOT",
            "Next": "Set_SpotInstance"
          }
        ],
        "Default": "Evaluate_Failed_Workflow"
      },
      "Set_OnDemand": {
        "Type": "Pass",
        "Result": {
          "job_queue": "${job_queue_on_demand}",
          "job_definition": "${job_definition_name_on_demand}"
        },
        "ResultPath": "$.event.batch_info",
        "Next": "Evaluate_SimulationType"
      },
      "Set_SpotInstance": {
        "Type": "Pass",
        "Result": {
          "job_queue": "${job_queue_spot}",
          "job_definition": "${job_definition_name_spot}"
        },
        "ResultPath": "$.event.batch_info",
        "Next": "Evaluate_SimulationType"
      },
      "Evaluate_SimulationType": {
        "Type": "Choice",
        "Choices": [
          {
            "And":[
              {
                "Variable": "$.event.simulationType",
                "StringEquals": "gcc"
              },
              {
                "Variable": "$.event.skipCreateRunDir",
                "StringEquals": "true"
              }
            ],
            "Next": "Invoke_RunBenchmarkGCC"
          },
          {
            "And":[
              {
                "Variable": "$.event.simulationType",
                "StringEquals": "gchp"
              },
              {
                "Variable": "$.event.skipCreateRunDir",
                "StringEquals": "true"
              }
            ],
            "Next": "Invoke_RunBenchmarkGCHP"
          },
          {
            "Variable": "$.event.simulationType",
            "StringEquals": "gcc",
            "Next": "Invoke_CreateRunDirectoryGCC"
          },
          {
            "Variable": "$.event.simulationType",
            "StringEquals": "gchp",
            "Next": "Invoke_CreateRunDirectoryGCHP"
          }
        ],
        "Default": "Evaluate_Failed_Workflow"
      },
      "Invoke_CreateRunDirectoryGCC": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition": "${job_definition_name_spot}",
          "JobName.$": "States.Format('Invoke_CreateRunDirectoryGCC_{}', $.event.nameSuffix)",
          "JobQueue": "${job_queue_spot}",
          "Timeout": {
            "AttemptDurationSeconds": 12000
          },
          "ContainerOverrides": {
            "ResourceRequirements": [
              {
                "Type": "VCPU",
                "Value": "4"
              },
              {
                "Type": "MEMORY",
                "Value": "16384"
              }
            ],
            "Environment": [{ 
              "Name": "GEOSCHEM_BENCHMARK_COMMIT_ID",
              "Value.$": "$.event.tag"
            },
            { 
              "Name": "GEOSCHEM_BENCHMARK_TIME_PERIOD",
              "Value.$": "$.event.timePeriod"
            },
            { 
              "Name": "GEOSCHEM_BENCHMARK_MODEL",
              "Value.$": "$.event.simulationType"
            }
          ],
            "Command": ["./scripts/entrypoints/benchmark-aws"]
          }
        },
        "Catch": [ {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.event.createRunDir",
          "Next": "Evaluate_Failed_Workflow"
        } ],
        "ResultPath": "$.event.createRunDir",
        "Next": "Invoke_RunBenchmarkGCC"
      },
      "Invoke_CreateRunDirectoryGCHP": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition": "${job_definition_name_spot}",
          "JobName.$": "States.Format('Invoke_CreateRunDirectoryGCHP_{}', $.event.nameSuffix)",
          "JobQueue": "${job_queue_spot}",
          "Timeout": {
            "AttemptDurationSeconds": 12000
          },
          "ContainerOverrides": {
            "ResourceRequirements": [
              {
                "Type": "VCPU",
                "Value": "4"
              },
              {
                "Type": "MEMORY",
                "Value": "16384"
              }
            ],
            "Environment": [
              { 
                "Name": "GEOSCHEM_BENCHMARK_COMMIT_ID",
                "Value.$": "$.event.tag"
              },
              { 
                "Name": "NUM_CORES_PER_NODE",
                "Value.$": "$.event.numCores"
              },
              { 
                "Name": "TOTAL_CORES",
                "Value.$": "$.event.numCores"
              },
              { 
                "Name": "CS_RES",
                "Value.$": "$.event.resolution"
              },
              { 
                "Name": "GEOSCHEM_BENCHMARK_TIME_PERIOD",
                "Value.$": "$.event.timePeriod"
              },
              { 
                "Name": "GEOSCHEM_BENCHMARK_MODEL",
                "Value.$": "$.event.simulationType"
              }
            ],
            "Command": ["./scripts/entrypoints/benchmark-aws"]
          }
        },
        "Catch": [ {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.event.createRunDir",
          "Next": "Evaluate_Failed_Workflow"
        } ],
        "ResultPath": "$.event.createRunDir",
        "Next": "Invoke_RunBenchmarkGCHP"
      },
      "Invoke_RunBenchmarkGCC": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition.$": "$.event.batch_info.job_definition",
          "JobName.$": "States.Format('Invoke_RunBenchmarkGCC_{}', $.event.nameSuffix)",
          "JobQueue.$": "$.event.batch_info.job_queue",
          "Timeout": {
            "AttemptDurationSeconds": 120000
          },
          "ContainerOverrides": {
            "ResourceRequirements": [
              {
                "Type": "VCPU",
                "Value.$": "$.event.numCores"
              },
              {
                "Type": "MEMORY",
                "Value.$": "$.event.memory"
              }
            ],
            "Environment": [
              { 
                "Name": "GEOSCHEM_BENCHMARK_RUN_SIMULATION",
                "Value": "true"
              },
              { 
                "Name": "GEOSCHEM_BENCHMARK_COMMIT_ID",
                "Value.$": "$.event.tag"
              },
              { 
                "Name": "GEOSCHEM_BENCHMARK_TIME_PERIOD",
                "Value.$": "$.event.timePeriod"
              },
              { 
                "Name": "GEOSCHEM_BENCHMARK_MODEL",
                "Value.$": "$.event.simulationType"
              }
            ],
            "Command": ["./scripts/entrypoints/benchmark-aws"]
          }
        },
        "Catch": [ {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.event.runBenchmark",
          "Next": "Evaluate_Failed_Workflow"
        } ],
        "ResultPath": "$.event.runBenchmark",
        "Next": "Evaluate_Successful_Workflow"
      },
      "Invoke_RunBenchmarkGCHP": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition.$": "$.event.batch_info.job_definition",
          "JobName.$": "States.Format('Invoke_RunBenchmarkGCHP_{}', $.event.nameSuffix)",
          "JobQueue.$": "$.event.batch_info.job_queue",
          "Timeout": {
            "AttemptDurationSeconds": 120000
          },
          "ContainerOverrides": {
            "ResourceRequirements": [
              {
                "Type": "VCPU",
                "Value.$": "$.event.numCores"
              },
              {
                "Type": "MEMORY",
                "Value.$": "$.event.memory"
              }
            ],
            "Environment": [
              { 
                "Name": "GEOSCHEM_BENCHMARK_RUN_SIMULATION",
                "Value": "true"
              },
              { 
                "Name": "GEOSCHEM_BENCHMARK_COMMIT_ID",
                "Value.$": "$.event.tag"
              },
              { 
                "Name": "NUM_CORES_PER_NODE",
                "Value.$": "$.event.numCores"
              },
              { 
                "Name": "TOTAL_CORES",
                "Value.$": "$.event.numCores"
              },
              { 
                "Name": "CS_RES",
                "Value.$": "$.event.resolution"
              },
              { 
                "Name": "GEOSCHEM_BENCHMARK_TIME_PERIOD",
                "Value.$": "$.event.timePeriod"
              },
              { 
                "Name": "GEOSCHEM_BENCHMARK_MODEL",
                "Value.$": "$.event.simulationType"
              }
            ],
            "Command": ["./scripts/entrypoints/benchmark-aws"]
          }
        },
        "Catch": [ {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.event.runBenchmark",
          "Next": "Evaluate_Failed_Workflow"
        } ],
        "ResultPath": "$.event.runBenchmark",
        "Next": "Evaluate_Successful_Workflow"
      },
      "Evaluate_Failed_Workflow": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.event.sendEmailNotification",
            "IsPresent": true,
            "Next": "Invoke_SendFailureEmail"
          }
        ],
        "Default": "WorkflowFailed"
      },
      "Evaluate_Successful_Workflow": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.event.sendEmailNotification",
            "IsPresent": true,
            "Next": "Invoke_SendSuccessEmail"
          }
        ],
        "Default": "WorkflowComplete"
      },
      "Invoke_SendFailureEmail": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "${sns_topic_arn}",
          "Subject": "Benchmark run failed!",
          "Message.$": "States.Format('Benchmark run failed for {} commit: {}! Check the state machine status at: https://console.aws.amazon.com/states/home?region=us-east-1#/statemachines \n\n Step Function Details: \n{}', $.event.simulationType, $.event.tag, $.event)"
        },
        "Next": "WorkflowFailed"
      },
      "Invoke_SendSuccessEmail": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "${sns_topic_arn}",
          "Subject": "Benchmark run finished!",
          "Message.$": "States.Format('Benchmark {} run finished for {} commit: {}! \n\n Output available at: s3://benchmarks-cloud/benchmarks/{}/{}/{}', $.event.timePeriod, $.event.simulationType, $.event.tag, $.event.timePeriod, $.event.simulationType, $.event.tag)"
        },
        "Next": "WorkflowComplete"
      },
      "WorkflowComplete": {
        "Type": "Pass",
        "End": true
      },
      "WorkflowFailed": {
        "Type": "Fail"
      }
    }
  }