deploy/modules/step-function/state-machine-definitions/cloud-benchmarks.json
{
    "Comment": "Run Automated Benchmarks",
    "StartAt": "Evaluate_StartPoint",
    "States": {
      "Evaluate_StartPoint": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.event.skipCreateRunDir",
            "IsPresent": false,
            "Next": "Set_skipCreateRunDir"
          }
        ],
        "Default": "Evaluate_RunType"
      },
      "Set_skipCreateRunDir": {
        "Type": "Pass",
        "Result": "false",
        "ResultPath": "$.event.skipCreateRunDir",
        "Next": "Evaluate_RunType"
      },
      "Evaluate_RunType": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.event.runType",
            "StringEquals": "DEMAND",
            "Next": "Set_OnDemand"
          },
          {
            "Variable": "$.event.runType",
            "StringEquals": "SPOT",
            "Next": "Set_SpotInstance"
          }
        ],
        "Default": "WorkflowFailed"
      },
      "Set_OnDemand": {
        "Type": "Pass",
        "Result": {
          "job_queue": "${job_queue_on_demand}",
          "job_definition": "${job_definition_name_on_demand}"
        },
        "ResultPath": "$.event.batch_info",
        "Next": "Evaluate_SimulationType"
      },
      "Set_SpotInstance": {
        "Type": "Pass",
        "Result": {
          "job_queue": "${job_queue_spot}",
          "job_definition": "${job_definition_name_spot}"
        },
        "ResultPath": "$.event.batch_info",
        "Next": "Evaluate_SimulationType"
      },
      "Evaluate_SimulationType": {
        "Type": "Choice",
        "Choices": [
          {
            "And":[
              {
                "Variable": "$.event.simulationType",
                "StringEquals": "GCC"
              },
              {
                "Variable": "$.event.skipCreateRunDir",
                "StringEquals": "true"
              }
            ],
            "Next": "Invoke_RunBenchmarkGCC"
          },
          {
            "And":[
              {
                "Variable": "$.event.simulationType",
                "StringEquals": "GCHP"
              },
              {
                "Variable": "$.event.skipCreateRunDir",
                "StringEquals": "true"
              }
            ],
            "Next": "Invoke_RunBenchmarkGCHP"
          },
          {
            "Variable": "$.event.simulationType",
            "StringEquals": "GCC",
            "Next": "Invoke_CreateRunDirectoryGCC"
          },
          {
            "Variable": "$.event.simulationType",
            "StringEquals": "GCHP",
            "Next": "Invoke_CreateRunDirectoryGCHP"
          }
        ],
        "Default": "WorkflowFailed"
      },
      "Invoke_CreateRunDirectoryGCC": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition": "${job_definition_name_spot}",
          "JobName.$": "States.Format('Invoke_CreateRunDirectoryGCC_{}', $.event.nameSuffix)",
          "JobQueue": "${job_queue_spot}",
          "Timeout": {
            "AttemptDurationSeconds": 12000
          },
          "ContainerOverrides": {
            "ResourceRequirements": [
              {
                "Type": "VCPU",
                "Value": "4"
              },
              {
                "Type": "MEMORY",
                "Value": "16384"
              }
            ],
            "Environment": [{ 
              "Name": "TAG_NAME",
              "Value.$": "$.event.tag"
            },
            { 
              "Name": "TIME_PERIOD",
              "Value.$": "$.event.timePeriod"
            }
          ],
            "Command": ["./scripts/createRunDirGCClassic.sh"]
          }
        },
        "ResultPath": "$.event.createRunDir",
        "Next": "Evaluate_RunDir"
      },
      "Invoke_CreateRunDirectoryGCHP": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition": "${job_definition_name_spot}",
          "JobName.$": "States.Format('Invoke_CreateRunDirectoryGCHP_{}', $.event.nameSuffix)",
          "JobQueue": "${job_queue_spot}",
          "Timeout": {
            "AttemptDurationSeconds": 12000
          },
          "ContainerOverrides": {
            "ResourceRequirements": [
              {
                "Type": "VCPU",
                "Value": "4"
              },
              {
                "Type": "MEMORY",
                "Value": "16384"
              }
            ],
            "Environment": [
              { 
                "Name": "TAG_NAME",
                "Value.$": "$.event.tag"
              },
              { 
                "Name": "NUM_CORES_PER_NODE",
                "Value.$": "$.event.numCores"
              },
              { 
                "Name": "TOTAL_CORES",
                "Value.$": "$.event.numCores"
              },
              { 
                "Name": "CS_RES",
                "Value.$": "$.event.resolution"
              }
            ],
            "Command": ["./scripts/createRunDirGCHP.sh"]
          }
        },
        "ResultPath": "$.event.createRunDir",
        "Next": "Evaluate_RunDir"
      },
      "Evaluate_RunDir": {
        "Type": "Choice",
        "Choices": [
          {
            "And":[
              {
                "Variable": "$.event.simulationType",
                "StringEquals": "GCC"
              },
              {
                "Variable": "$.event.createRunDir.Status",
                "StringEquals": "SUCCEEDED"
              }
            ],
            "Next": "Invoke_RunBenchmarkGCC"
          },
          {
            "And":[
              {
                "Variable": "$.event.simulationType",
                "StringEquals": "GCHP"
              },
              {
                "Variable": "$.event.createRunDir.Status",
                "StringEquals": "SUCCEEDED"
              }
            ],
            "Next": "Invoke_RunBenchmarkGCHP"
          }
        ],
        "Default": "WorkflowFailed"
      },
      "Invoke_RunBenchmarkGCC": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition.$": "$.event.batch_info.job_definition",
          "JobName.$": "States.Format('Invoke_RunBenchmarkGCC_{}', $.event.nameSuffix)",
          "JobQueue.$": "$.event.batch_info.job_queue",
          "Timeout": {
            "AttemptDurationSeconds": 120000
          },
          "ContainerOverrides": {
            "ResourceRequirements": [
              {
                "Type": "VCPU",
                "Value.$": "$.event.numCores"
              },
              {
                "Type": "MEMORY",
                "Value.$": "$.event.memory"
              }
            ],
            "Environment": [
              { 
                "Name": "TAG_NAME",
                "Value.$": "$.event.tag"
              }
            ],
            "Command": ["./scripts/runGCClassic.sh"]
          }
        },
        "ResultPath": "$.event.runBenchmark",
        "Next": "Evaluate_Benchmark"
      },
      "Invoke_RunBenchmarkGCHP": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition.$": "$.event.batch_info.job_definition",
          "JobName.$": "States.Format('Invoke_RunBenchmarkGCHP_{}', $.event.nameSuffix)",
          "JobQueue.$": "$.event.batch_info.job_queue",
          "Timeout": {
            "AttemptDurationSeconds": 120000
          },
          "ContainerOverrides": {
            "ResourceRequirements": [
              {
                "Type": "VCPU",
                "Value.$": "$.event.numCores"
              },
              {
                "Type": "MEMORY",
                "Value.$": "$.event.memory"
              }
            ],
            "Environment": [
              { 
                "Name": "TAG_NAME",
                "Value.$": "$.event.tag"
              },
              { 
                "Name": "NUM_CORES_PER_NODE",
                "Value.$": "$.event.numCores"
              },
              { 
                "Name": "TOTAL_CORES",
                "Value.$": "$.event.numCores"
              },
              { 
                "Name": "CS_RES",
                "Value.$": "$.event.resolution"
              },
              { 
                "Name": "INPUT_DATA_DOWNLOAD",
                "Value.$": "$.event.updateInputData"
              }
            ],
            "Command": ["./scripts/runGCHP.sh"]
          }
        },
        "ResultPath": "$.event.runBenchmark",
        "Next": "Evaluate_Benchmark"
      },
      "Evaluate_Benchmark": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.event.runBenchmark.Status",
            "StringEquals": "SUCCEEDED",
            "Next": "WorkflowComplete"
          }
        ],
        "Default": "WorkflowFailed"
      },
      "WorkflowComplete": {
        "Type": "Pass",
        "End": true
      },
      "WorkflowFailed": {
        "Type": "Fail"
      }
    }
  }